@page
@model PrivacyModel
@{
}

<!-- Contenedor centrado para el título principal -->
<div class="text-center">
    <!-- Título principal con clase para estilo -->
    <h1 class="display-4">Políticas de Magic Shop Álbum</h1>
</div>

<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la primera política con clase para estilo -->
<h5 class="display-6">1. Política de Devolución</h5>
<!-- Descripción de la política de devolución -->
<p>Se aceptan devoluciones dentro de los 30 días posteriores a la compra, siempre que el álbum esté en su empaque original y en condiciones de venta. Se requiere el recibo de compra para procesar la devolución. Los gastos de envío de la devolución corren por cuenta del cliente, a menos que el producto esté defectuoso.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la segunda política con clase para estilo -->
<h5 class="display-6">2. Política de Cambios</h5>
<!-- Descripción de la política de cambios -->
<p>Se pueden realizar cambios por productos defectuosos dentro de los 60 días posteriores a la compra, siempre que el álbum esté en su empaque original. Se requiere el recibo de compra para procesar el cambio. Si el producto solicitado para cambio no está disponible, se ofrecerá un reembolso o crédito en la tienda.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la tercera política con clase para estilo -->
<h5 class="display-6">3. Política de Garantía</h5>
<!-- Descripción de la política de garantía -->
<p>Todos los álbumes tienen una garantía de 6 meses contra defectos de fabricación. La garantía cubre la reparación, el reemplazo o el reembolso del álbum si se encuentra un defecto dentro del período especificado. La garantía no cubre daños causados por uso indebido o accidentes.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la cuarta política con clase para estilo -->
<h5 class="display-6">4. Política de Precios</h5>
<!-- Descripción de la política de precios -->
<p>Nos comprometemos a igualar el precio de cualquier competidor local si se presenta una oferta válida. Las promociones y descuentos se comunicarán claramente en la tienda y en línea. Ofrecemos precios justos y competitivos para todos nuestros productos.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la quinta política con clase para estilo -->
<h5 class="display-6">5. Política de Privacidad y Seguridad:</h5>
<!-- Descripción de la política de privacidad y seguridad -->
<p>Nos comprometemos a proteger la información personal de nuestros clientes de acuerdo con las leyes de privacidad vigentes. Utilizamos tecnología segura para el procesamiento de pagos y no compartimos información con terceros sin consentimiento expreso.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la sexta política con clase para estilo -->
<h5 class="display-6">6. Política de Envío</h5>
<!-- Descripción de la política de envío -->
<p>Ofrecemos envío estándar gratuito en pedidos superiores a $50. Los tiempos de entrega estándar son de 3-5 días hábiles dentro de la región. Opciones de envío express están disponibles por un costo adicional. No realizamos envíos internacionales en este momento.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la séptima política con clase para estilo -->
<h5 class="display-6">7. Política de Atención al Cliente</h5>
<!-- Descripción de la política de atención al cliente -->
<p>Nuestro equipo de atención al cliente está disponible de lunes a viernes de 9:00 a 18:00 horas. Respondemos a consultas por teléfono, correo electrónico y a través de nuestras redes sociales dentro de las 24 horas hábiles. Estamos aquí para ayudarte con cualquier pregunta o problema que puedas tener.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la octava política con clase para estilo -->
<h5 class="display-6">8. Política de Pre-Orden</h5>
<!-- Descripción de la política de pre-orden -->
<p>Ofrecemos la opción de pre-ordenar álbumes populares antes de su lanzamiento. Los clientes pueden realizar una pre-orden pagando un depósito del 50% del precio total del álbum. La pre-orden garantiza que el álbum será enviado o estará disponible para recoger en la tienda el día de su lanzamiento oficial. Los clientes serán notificados por correo electrónico sobre el estado de su pre-orden y cualquier actualización relevante.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la novena política con clase para estilo -->
<h5 class="display-6">9. Política de Fidelidad y Recompensas</h5>
<!-- Descripción de la política de fidelidad y recompensas -->
<p>Ofrecemos un programa de fidelidad donde los clientes acumulan puntos por cada compra realizada. Estos puntos pueden ser canjeados por descuentos en futuras compras, productos gratuitos o acceso a ofertas exclusivas. Además, celebramos eventos especiales y promociones solo para nuestros miembros de fidelidad.</p>
<!-- Salto de línea para separación visual -->
<br>

<!-- Subtítulo para la décima política con clase para estilo -->
<h5 class="display-6">10. Política de Recomendaciones Personalizadas</h5>
<!-- Descripción de la política de recomendaciones personalizadas -->
<p>Ofrecemos recomendaciones personalizadas a través de nuestro equipo especializado o algoritmos basados en el historial de compras y preferencias de los clientes. Los clientes pueden proporcionar información sobre sus artistas favoritos, géneros musicales o álbumes recientes que han disfrutado. Con esta información, nuestro equipo o sistema sugiere álbumes nuevos o poco conocidos que podrían interesarles. Esta política no solo facilita la navegación en nuestra tienda, sino que también promueve la exploración de nuevas músicas y artistas entre nuestros clientes.</p>
